@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  @apply bg-white dark:bg-gray-950;
  

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}
li:hover, li:focus {
  @apply bg-slate-500;
}
